# Read Readme before doing anything


#________COMPULSORY____________

TG_BOT_TOKEN= "5375784858:AAHT81HwxTO9-mofIFdCq7c9j6xjOSrsgB0"
APP_ID = 19279083
API_HASH = "8d6d622fc13103296d386661b5350fa4"
OWNER_ID = 5306999144

# Add different ID separated by a SPACE (Like :: AUTH_CHANNEL = -10012503747 -10012586941 539295917)
AUTH_CHANNEL = 


#__________NOT ________COMPULSORY____________ ::

# For RCLONE ::
# Name of the folder....not ID
DESTINATION_FOLDER = "TorrentLeech-Gdrive"
INDEX_LINK = ""

# OTHERS ::
EDIT_SLEEP_TIME_OUT = 15
MAX_TG_SPLIT_FILE_SIZE = 1072864000

#_____There are other vars too_____Read Readme to Know better____
#_____And fill them as new line if needed :)
